[Unit]
Description=AnyCable gRPC Server
After=syslog.target network.target

[Service]
Type=simple
Environment=RAILS_ENV=production
Environment="RAILS_MASTER_KEY=somekey"
WorkingDirectory=/home/someusername/apps/someappfolder
ExecStart=/bin/bash /home/someusername/.rvm/gems/ruby-3.1.1@somegemsetname /wrappers/bundle exec anycable
ExecStop=/bin/kill -TERM $MAINPID


User=www
Group=www
UMask=0002


MemoryHigh=2G
MemoryMax=3G
MemoryAccounting=true

Restart=on-failure


Environment=ANYCABLE_REDIS_URL=redis://localhost:6379/1
Environment=ANYCABLE_REDIS_CHANNEL=__anycable__

[Install]
WantedBy=multi-user.target
